@charset 'utf-8';

.flex-wrap {
    margin:0 auto;

    /* 작업 내용 해상도 */
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap:5px; */
}

.item {
    flex-basis: 24.8%;
}

img {
    width:100%;
}

.content h3 {
    margin-bottom: 8px;
}

.content p {
    line-height: 20px;
    text-align: justify;
}