@charset 'utf-8';

@media screen and (max-width:1000px) {  
    .flex-wrap {
        max-width: 100%;
    }

    .item {
        flex-basis: 49.6%;
    }

    .content h3 {
        margin-top: 5px;
        margin-bottom: 2px;
        font-size: 24px;
        text-align: center;
    }

    .content p {
        padding:0 10px;
        margin-bottom: 50px;
    }

}